:root{
    --color-header: #2C334D;
    --color-logo: slateblue;
    --color-links: teal;
    --color-corpo:  #17191B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-corpo);
}
/**HEADER***/
.header-color{
    background: var(--color-header);
    height: 100%;
}
.header-color section{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-color section .logo{
    color: var(--color-logo);
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.4rem;
} 
.header-color section ul li{
    display: inline-block;
    margin: 0.5rem;
}
.header-color section ul li a{
    color: var(--color-links);
    font-size: 1.3rem;
    text-decoration: none;
}
/*CORPO*/
.lottie-animation{
    max-width: 960px;
    justify-content: space-between;
    margin: 60px auto;
    flex-wrap: wrap;
    display: flex;
}
.lottie-config{
    margin-left: 10px;
}
.campo_texto{
    margin-left: 10px;
    width: 500px;
}
.campo_texto h1{
    color: var(--color-logo);
}
.campo_texto p{
    color: white;
    line-height: 1.5;
    font-size: 1.1rem;
}